<!-- h1>Create User</h1>
<br>
<form [formGroup]="userform" (ngSubmit)="onSubmit()"  class="form-inline">
  <div class="form-group">
  <label class="sr-only" for="inlineFormInput">First Name</label>
    <input type="text"  formControlName="firstName" class="form-control mb-2 mr-sm-2 mb-sm-0" id="firstname" placeholder="First Name">
  </div>
  <label class="sr-only" for="inlineFormInputGroup">Last Name</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="text" formControlName="lastName" class="form-control" id="lastname" placeholder="Last Name">

  </div>
  <br>
  <br>
  <label class="sr-only" for="inlineFormInput">Password</label>
  <input type="password" [formGroup]="userform" formControlName="password" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="password">

  <label class="sr-only" for="inlineFormInputGroup">Confirm Password </label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="password"  [formGroup]="userform" formControlName="confirmPassword" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
  </div>
  <div class="alert alert-danger" *ngIf="userform.controls.confirmPassword.errors?.MatchPassword">Password not match</div>
  <br>
  <br>
  <label class="sr-only" for="inlineFormInputGroup">Username </label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="text" formControlName="userName" class="form-control" id="inlineFormInputGroup" placeholder="Username Email">
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<div class="container">
<form>
	<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First name</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>